@import "../../style/_mixins.scss";

.header-block {
  @include block-style(100%);
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.header-block .logo,
.header-block .main-nav {
  display: inline-block;
  vertical-align: middle;
}

.header-block .main-nav li {
  display: inline-block;
  margin-right: 30px;
}

.header-block .main-nav li:last-child {
  margin-right: 0;
}
