.banner-right {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 62%;
  height: 100%;
  padding: 3%;
  overflow: scroll;
}
.banner-right section {
  height: 464px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
@media screen and (min-width: 1400px) {
  .banner-right section {
    height: 580px;
  }
}
.banner-right .img-container {
  margin-bottom: 5%;
}
.banner-right .img-container:last-child {
  margin-bottom: 0;
}
.banner-right .small-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: #CB4450;
}
.banner-right .img-container:hover button {
  visibility: visible;
}
.banner-right img:hover button{
  filter: blur(2.5px);
}
.banner-right button:hover {
  background-color: #CC1B2B;
}
