@import "../../style/_mixins.scss";

.text-block {
  @include block-style(100%);
}

.text-block .text-block-item {
  width: 82%;
}

.text-block .text-block-text * {
  margin-bottom: 2%;
}

.text-block .text-block-action * {
  margin-right: 30px;
}
