@import "../../style/_mixins.scss";

.content-block {
  @include block-style(100%);
}

.content-block .content-block-item {
  width: 82%;
}

.content-block .content-block-text * {
  margin-bottom: 2%;
}

.content-block .content-block-action * {
  margin-right: 30px;
}
