@import "../../style/_mixins.scss";

.content-block {
  @include block-style(100%);
}

.content-block h2:first-child {
  margin-top: 0;
}

.content-block img {
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
}
