@import "../style/_mixins.scss";

.all-atomic-component {
  @include block-style(100%);
  background: rgb(241, 241, 241) !important;
}

.all-atomic-component section {
  margin-bottom: 2%;
  background: transparent !important;
}

.all-atomic-component *:last-child {
  margin-bottom: 0;
}

.aac-text * {
  margin-bottom: 2%;
}

.acc-link * {
  display: block;
  margin-bottom: 2%;
}

.acc-link-button section {
  margin-bottom: 2%;
}

.acc-button  * {
  display: block;
  margin-bottom: 2%;
}

.acc-input * {
  display: block;
  margin-bottom: 2%;
}
