@import "../style/_mixins.scss";

.all-atomic-component {
  @include block-style(100%);
  background: #FFFFFF !important;
}

.all-atomic-component * {
  display: block;
  margin-bottom: 2%;
}

.all-atomic-component *:last-child {
  margin-bottom: 0;
}
