// This is the style shared by all the block components
@mixin block-style($width) {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 60px 10%;
  width: $width;
  height: auto;
  overflow: hidden;
}

// This is the style shared by all the buttons in the atom component
@mixin button-style($height, $padding) {
  display: inline-block;
  height: $height;
  padding: 0 $padding;
  text-align: center;
  line-height: $height;
  transition: all ease 0.5s;
}
