html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, #app, .app-container {
  width: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
button, input {
  border: none;
  border-radius: 0;
  background-color: rgb(167, 167, 167);
  outline: none;
}

main {
  background-color: #777777;
}
