@import "../../style/_variables.scss";
@import '../../style/_mixins.scss';

.medium-button {
  @include button-style(50px, 34px);
  font-size: $medium-font-size;
  letter-spacing: 0.01px;
  color: white;
  background: #30A2F2;
  box-shadow: 0 5px 4px 0 rgba(38, 80, 126, 0.59);
}

.medium-button:hover {
  background: #0890EF;
}