.medium-button {
  font-size: 1.0rem;
  letter-spacing: 0.01px;
  color: white;
  background: #30A2F2;
  padding: 3% 10%;
  box-shadow: 0 5px 9px 0 rgba(5,64,129,0.59);
  transition: all ease 0.5s;
}

.medium-button:hover {
  background: #0890EF;
  box-shadow: 0 5px 4px 0 rgba(5,64,129,0.59);
}