h1, h2, h3, h4, p {
  color: #555555 !important;
}

.landing-page {
  width: 100%;
}

.landing-page .banner-block {
  background-color: #FFFFFF;
}

@for $i from 2 through 9 {
  .landing-page > section:nth-of-type(#{$i}) {
    background-color: darken($color: #FFFFFF, $amount: $i * 3);
  }
}
